.container {
    background-color: white;
    border-radius: 15px;
    max-width: 500px;
    padding: 20px;
    box-shadow: 5px 5px 15px gray;

    .form-text {
        font-size: 12px;
    }
}

body {
    background-color: lightgray;
    background-image: linear-gradient(to bottom right, lightgray, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}